<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Suite" parallel="classes" thread-count="3">


    <listeners>
        <listener class-name="listners.RetryListener"/>
    </listeners>

    <test name="Regression test">
        <groups>
            <run>
                <include name="regression"/>
            </run>
        </groups>

        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.HomeTest"/>
            <class name="tests.SearchTest"/>
        </classes>
    </test>
</suite>