<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Suite" parallel="classes" thread-count="3">

    <parameter name="browser" value="chrome"/>

    <listeners>
        <listener class-name="listners.RetryListener"/>
    </listeners>

    <!-- Smoke Tests -->
    <test name="Smoke Test">

        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.HomeTest"/>
            <class name="tests.SearchTest"/>
        </classes>
    </test>

</suite>